<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="68717f">  <td>21/01/09 22:55:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BrowserTest.crossBrowser()[pri:0, instance:vd.browsers.BrowserTest@7671cb68]">crossBrowser</td> 
  <td>TestNG-tests-3@1485412460</td>   <td></td> </tr>
<tr bgcolor="68717f">  <td>21/01/09 22:55:12</td>   <td>487</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BrowserTest.crossBrowser()[pri:0, instance:vd.browsers.BrowserTest@26275bef]">crossBrowser</td> 
  <td>TestNG-tests-2@846965384</td>   <td></td> </tr>
<tr bgcolor="68717f">  <td>21/01/09 22:55:13</td>   <td>1961</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BrowserTest.crossBrowser()[pri:0, instance:vd.browsers.BrowserTest@76f2bbc1]">crossBrowser</td> 
  <td>TestNG-tests-1@1364480714</td>   <td></td> </tr>
<tr bgcolor="68717f">  <td>21/01/09 22:55:09</td>   <td>-2559</td> <td>&nbsp;</td><td title="&gt;&gt;BrowserTest.setup(java.lang.String)[pri:0, instance:vd.browsers.BrowserTest@26275bef]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@846965384</td>   <td></td> </tr>
<tr bgcolor="68717f">  <td>21/01/09 22:55:09</td>   <td>-2559</td> <td>&nbsp;</td><td title="&gt;&gt;BrowserTest.setup(java.lang.String)[pri:0, instance:vd.browsers.BrowserTest@7671cb68]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-3@1485412460</td>   <td></td> </tr>
<tr bgcolor="68717f">  <td>21/01/09 22:55:09</td>   <td>-2559</td> <td>&nbsp;</td><td title="&gt;&gt;BrowserTest.setup(java.lang.String)[pri:0, instance:vd.browsers.BrowserTest@76f2bbc1]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1364480714</td>   <td></td> </tr>
</table>
